2020-11-17 floorplan.json
[{"id":"bd9c14e9.4387e8","type":"subflow","name":"LPZoneStatus","info":"","category":"","in":[{"x":160,"y":220,"wires":[{"id":"a1ecf6d7.5ebbd8"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"ac93da8b.dd1678","type":"http request","z":"bd9c14e9.4387e8","name":"HC2: set global - AL Zone Status","method":"PUT","ret":"obj","paytoqs":"ignore","url":"http://192.168.1.101/api/globalVariables/{{{topic}}}","tls":"","persist":false,"proxy":"","authType":"basic","x":1410,"y":220,"wires":[[]]},{"id":"77bc19b5.7e5608","type":"change","z":"bd9c14e9.4387e8","name":"Change AL_Zone_Status","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.name","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"payload.value","pt":"msg","to":"value","tot":"msg"},{"t":"set","p":"payload.invokeScenes","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":220,"wires":[["ac93da8b.dd1678"]]},{"id":"ac071cee.a55d9","type":"change","z":"bd9c14e9.4387e8","name":"Change AL_Zone_Status","rules":[{"t":"set","p":"topic","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":220,"wires":[["77bc19b5.7e5608"]]},{"id":"666bdb7c.3afbc4","type":"json","z":"bd9c14e9.4387e8","name":"","property":"payload","action":"str","pretty":false,"x":630,"y":220,"wires":[["ac071cee.a55d9"]]},{"id":"a1ecf6d7.5ebbd8","type":"function","z":"bd9c14e9.4387e8","name":"Prep for update to AL_Zone_Status","func":"/* retrieve MT name from displayed zone name (msg.zone_name) */\nvar lp_zone_data            = global.get(\"LP_zone_data\");\nvar zone_name_data          = lp_zone_data.find(_=>_.zone_name == msg.payload);\nvar MT_name                 = zone_name_data.MT;\n\n//node.warn([\"MT_name=\",MT_name]); \n\n\n/*convert MT name to lookup name for global variable*/\nvar zone_Lookup             = MT_name.substring(3);\n\n/*node.warn([\"zone_Lookup=\",zone_Lookup]); */\n\n\n/*retreive current value for zone - from the json global variable*/\nvar lp_zone_status          = global.get(\"LP_al_zone_status\");\nvar zone_status             = lp_zone_status[zone_Lookup];\n\n\n/* prep updated value to sent to HC2 */\nif (zone_status == \"Disabled\") {zone_status = \"Active\"} else  {zone_status = \"Disabled\"}\n\n\n/* update the json with the new value */\nlp_zone_status[zone_Lookup] = zone_status;\n\n\nmsg.payload                 = lp_zone_status;\nmsg.topic                   = \"AL_Zone_Status\"\n\n\nreturn msg;\n\n\n/* node.warn([\"your_variable=\",lp_zone_status]); */\n/*  node.warn([\"your_variable=\",zone_status]); */\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":220,"wires":[["666bdb7c.3afbc4"]]},{"id":"e28c9ca5.73e4e","type":"tab","label":"uiFloorplan","disabled":false,"info":""},{"id":"800e1c30.d94b8","type":"fibaroActor","z":"e28c9ca5.73e4e","name":"","deviceID":"0","server":"9c9da376.afac5","events":true,"outputs":2,"x":2490,"y":580,"wires":[["1b332064.236b5"],[]]},{"id":"1b332064.236b5","type":"debug","z":"e28c9ca5.73e4e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2650,"y":580,"wires":[]},{"id":"ec5484ee.e795b8","type":"function","z":"e28c9ca5.73e4e","name":"Data Caching","func":"//return;\n\n//delete dude entries\n/*\nvar homeMsgs_brightness         = context.get(\"homeMsgs_brightness\") \nnode.warn([homeMsgs_brightness[\"Garden/Garden Bench Lights\"]]);\ndelete homeMsgs_brightness[\"Garden/Garden Bench Lights\"];\nreturn msg;\n*/\n\n\n// saved context\nvar homeMsgs_brightness     = flow.get(\"homeMsgs_brightness\")    || {}\nvar homeMsgs_colour         = flow.get(\"homeMsgs_colour\")        || {}\nvar zone_status_global      = global.get(\"LP_al_zone_status\");\nvar uibuilder_zones         = flow.get(\"FP_al_zone_status\");\n\n\n\n// Replay cache if requested\nif ( msg.hasOwnProperty('cacheControl') && msg.cacheControl === 'REPLAY') {\n\n    // Send AUTO LIGHTING ZONE STATUS (ACTIVE/DISABLED)\n    /* Loop through each AL Zone that is included in the Floor Plan and where it matches the LP_al_zone_status send the status through to uibuilder*/\n    uibuilder_zones.forEach(item =>{\n                Object.entries(zone_status_global).forEach(([key, value]) => \n                {\n                if (key == item.zone_name) \n                    {\n                    // Only send to a single client if we can\n                    if ( msg.hasOwnProperty('_socketId') )\n                        {\n                        //node.warn([\"up to here - brightness\", msg.topic])\n                        node.send({\n                            \"topic\"         : key, \n                            \"al_zone_status\": value,\n                            \"_socketId\"     : msg._socketId,\n                        })\n                        }\n                    else\n                        {\n                        node.send({\n                            \"topic\"         : key, \n                            \"al_zone_status\": value,\n                        })\n                        }\n                    }\n                })\n            return;\n            })\n\n    // Send BRIGHTNESS VALUES TO UIBUILDER\n    for (var topic1 in homeMsgs_brightness) {\n        // Only send to a single client if we can\n        if ( msg.hasOwnProperty('_socketId') )\n            {\n            //node.warn([\"up to here - brightness\", msg.topic])\n            node.send({\n                \"topic\"     : topic1, \n                \"brightness\": homeMsgs_brightness[topic1],\n                \"_socketId\" : msg._socketId,\n            })\n            }\n        else\n            {\n            node.send({\n                \"topic\"     : topic1, \n                \"brightness\": homeMsgs_brightness[topic1],\n            })\n            }\n        }   \n\n    // Send COLOUR VALUES TO UIBUILDER\n    for (var topic in homeMsgs_colour) {\n        // Only send to a single client if we can\n        if ( msg.hasOwnProperty('_socketId') )\n            {\n            //node.warn([\"up to here - colour\", msg.topic])\n            node.send({\n                \"topic\"     : topic, \n                \"colour\"    : homeMsgs_colour[topic],\n                \"_socketId\" : msg._socketId,\n            })\n            }\n        else\n            {\n            node.send({\n                \"topic\"     : topic, \n                \"colour\"    : homeMsgs_colour[topic],\n            })\n            }\n        }\n\n    return null\n}\n\n// ignore cacheControl and uibuilder control messages\nif (msg.hasOwnProperty('cacheControl') || msg.hasOwnProperty('uibuilderCtrl')) return null\n\n\nvar payload = msg.payload\n\n/* do not run if unwanted properites are returned from the HC2*/\nif (msg.payload.property == \"log\" || msg.payload.property == \"logTemp\" || msg.payload.property == \"power\" || msg.payload.property == \"energy\" || msg.payload.property == \"lastColorSet\") {return;}\n\n// AL ZONE STATUS IS NOT ICLUDED IN HERE AS THE STATUS IS STORED IN THE GLOBA = \"LP_al_zone_status\" WHICH IS UPDATED EVERY 1 SEC FROM THE LIGHTING PANEL\n\n// save context for next time\nif  (payload.property == \"color\")\n    {\n    //node.warn([\"up to here - colour\", msg.topic])\n    // Keep the last msg.payload by topic\n    homeMsgs_colour[msg.topic]              = payload.value\n    flow.set('homeMsgs_colour'           , homeMsgs_colour)\n    }\nelse\n    {\n    //node.warn([\"up to here - bright\", msg.payload])\n    // Keep the last msg.payload by topic\n    homeMsgs_brightness[msg.topic]          = msg.payload\n    flow.set('homeMsgs_brightness'       , homeMsgs_brightness)\n    }\n\nreturn msg;\n\n//if (payload.hasOwnProperty(\"property\") && msg.payload.property == \"lastColorSet\" ) {return}\n// ONLY REQUIRED FOR LIGHT BRIGHTNESS AND COLOUR, HOWEVER IN HINDSIGHT COULD HAVE LEVERAGED THE EXISTING VALUES STORED IN GLOBAL VARIABLES, haha!","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":460,"wires":[["9d34432d.54209","2efee437.e7170c"]]},{"id":"9609b4c3.46cdc8","type":"link in","z":"e28c9ca5.73e4e","name":"home-replay","links":["e586c1c1.d147b","3e82e8ea.68a998","136f947a.a6ec9c","69eb6996.953358"],"x":775,"y":540,"wires":[["ec5484ee.e795b8"]]},{"id":"3588eca0.763a84","type":"fibaroActor","z":"e28c9ca5.73e4e","name":"Kitchen/Lounge Lights","deviceID":"Kitchen/Lounge Lights","server":"9c9da376.afac5","events":true,"outputs":2,"x":280,"y":220,"wires":[["ec5484ee.e795b8"],[]]},{"id":"8fba3a58.e6ad58","type":"function","z":"e28c9ca5.73e4e","name":"Format RGBW for HC2","func":"function hexToRgb(hex) \n    {\n  var result = /^#?([a-f\\d]{2})([a-f\\d]{2})([a-f\\d]{2})$/i.exec(hex);\n  return result ? \n        {\n            r: parseInt(result[1], 16),\n            g: parseInt(result[2], 16),\n            b: parseInt(result[3], 16)\n        } \n    : null;\n    }\n\n\nvar homeMsgs_brightness = flow.get(\"homeMsgs_brightness\")\nvar homeMsgs_colour     = flow.get(\"homeMsgs_colour\")\nvar send_data           = false\nvar device_name         = msg.topic\nvar FP_rgbw_lights_table= flow.get(\"FP_rgbw_lights_table\")\n\nif (msg.type == \"colour\")\n    {\n    \n    var skip = false;\n    //if warm white\n    if (msg.payload == \"warm\") \n        {\n        //if current colour is the same as new colour, do nothing\n        if (homeMsgs_colour[device_name] == \"0,0,0,255\" || FP_rgbw_lights_table[device_name] != true) {return;}           \n        //else update msg.payload\n        skip = true;\n        msg.payload = {\"name\":\"setColor\",\"arg1\":0,\"arg2\":0,\"arg3\":0,\"arg4\":255}\n        }\n\n    //if any other colour\n    if (skip === false) \n        {\n        var hex_colour      = msg.payload;\n        hex_colour = hex_colour.substring(hex_colour.search(\"/\")+1)\n        var red             = hexToRgb(hex_colour).r\n        var green           = hexToRgb(hex_colour).g\n        var blue            = hexToRgb(hex_colour).b\n        msg.payload         = {\"name\":\"setColor\",\"arg1\":red,\"arg2\":green,\"arg3\":blue,\"arg4\":0}\n        //if current colour is the same as new colour, do nothing\n        if (homeMsgs_colour[device_name] == red+\",\"+green+\",\"+blue+\",\"+\"0\" || FP_rgbw_lights_table[device_name] != true) {return;}\n        }\n    }\n\nelse if (msg.type == \"lighting_scene\")\n    {\n        red1     = msg.r\n        green1   = msg.g\n        blue1    = msg.b\n        white1   = msg.w\n        msg.payload         = {\"name\":\"setColor\",\"arg1\":red1,\"arg2\":green1,\"arg3\":blue1,\"arg4\":white1}\n        //if current colour is the same as new colour, do nothing\n        if (homeMsgs_colour[device_name] == red1+\",\"+green1+\",\"+blue1+\",\"+white1 || FP_rgbw_lights_table[device_name] != true) {return;}\n    }\n\n\n//else msg is to change brightness\nelse\n    {\n    //node.warn([\"here\", device_name, homeMsgs_brightness[device_name], msg.payload])\n    //if current brightness is the same as new brightness, do nothing\n    if (homeMsgs_brightness[device_name] == msg.payload) {return;}           \n    }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2250,"y":580,"wires":[["800e1c30.d94b8","d0c77c51.44efd"]]},{"id":"d0c77c51.44efd","type":"debug","z":"e28c9ca5.73e4e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2470,"y":540,"wires":[]},{"id":"9d34432d.54209","type":"debug","z":"e28c9ca5.73e4e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":400,"wires":[]},{"id":"2efee437.e7170c","type":"function","z":"e28c9ca5.73e4e","name":"Split Colour & Brightness","func":"function componentToHex(c)  {\n  var hex = c.toString(16);\n  return hex.length == 1 ? \"0\" + hex : hex;\n                            }\n\nfunction rgbToHex(r, g, b)  {\n  return componentToHex(r) + componentToHex(g) + componentToHex(b);\n\n                            }\nvar payload = {}\nvar colour  = {}\n\nif (msg.hasOwnProperty(\"payload\")) \n    {\n    payload = msg.payload\n    }\n\n\n/* do not run if lastcolorset is sent*/\nif (payload.hasOwnProperty(\"property\") && msg.payload.property == \"lastColorSet\" )  \n    {\n    node.warn([\"up to here - lastColorSet\"]);\n    return\n    }\n\n\nif (msg.hasOwnProperty(\"brightness\")) {}\n\nelse if (msg.hasOwnProperty(\"colour\") || (payload.hasOwnProperty(\"property\") && msg.payload.property == \"color\" )) \n\n    {\n    if (msg.hasOwnProperty(\"colour\"))\n        {colour = msg.colour}\n    else\n        {colour = msg.payload.value}\n\n    var output              = colour.split(\",\");\n    output0                 = output[0];\n    output1                 = output[1];\n    output2                 = output[2];\n    output3                 = output[3];\n\n    /* Boost brightness, otherwise node-red is showing a literal interpretation of the colour + brightness i.e. low brightness looks black  */\n    var max_brightness      = Math.max(Number(output[0]), Number(output[1]), Number(output[2]));\n    var uplift_factor       = 254/max_brightness\n    var circuit_colour      = rgbToHex( Math.round(Number(output[0]*uplift_factor)),  Math.round(Number(output[1]*uplift_factor)),  Math.round(Number(output[2]*uplift_factor)));\n\n\n    if (output[0] === \"0\" && output[1] === \"0\" && output[2] === \"0\" && output[3] > 0)\n                {msg.colour = \"#ffc847\"    /* warm white */\n                }\n    else\n                {msg.colour = \"#\" + circuit_colour\n                }\n    }\n    \nelse\n    {\n    //node.warn([\"up to here - brightness\", msg.topic]);\n    msg.brightness = msg.payload;\n    }\n    \n    msg.payload = {};\n    msg.page = \"floorplan\";\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":460,"wires":[["64afbfaf.65d2f","18ed1c44.8c0524"]]},{"id":"64afbfaf.65d2f","type":"debug","z":"e28c9ca5.73e4e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1250,"y":460,"wires":[]},{"id":"3e82e8ea.68a998","type":"link out","z":"e28c9ca5.73e4e","name":"home-controls","links":["9609b4c3.46cdc8","4a67e1e4.1a194","9f7c86d4.904ca8","3f424063.f4322"],"x":1795,"y":200,"wires":[]},{"id":"f1c8eaef.9484e8","type":"function","z":"e28c9ca5.73e4e","name":"Lighting Groups Table","func":"// Table of all lights in FLOOR PLAN and their GROUP NAME (for group lighting updates)\n\nflow.set (\"FP_lighting_scenes\",\n            [\n            {scene_name:\"TV Low\",       circuit:\"Kitchen/Cabinet Lights\",       value:\"0\"},\n            {scene_name:\"TV Low\",       circuit:\"Kitchen/Lounge Lights\",        value:\"5\"},\n            {scene_name:\"TV Low\",       circuit:\"Kitchen/Wall Lights\",          value:\"1\"},\n            {scene_name:\"TV Low\",       circuit:\"Kitchen/Pendant Light\",        value:\"0\"},\n            {scene_name:\"TV Low\",       circuit:\"Kitchen/Island Lights\",        value:\"0\"},\n            {scene_name:\"TV Low\",       circuit:\"Kitchen/Skylight Lights\",      value:\"10\"},\n            {scene_name:\"TV Low\",       circuit:\"Kitchen/Skylight Lights\",      r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"TV Low\",       circuit:\"Kitchen/Ceiling Lights\",       value:\"0\"},\n            {scene_name:\"TV Low\",       circuit:\"Kitchen/Ceiling Lights\",       r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"TV Low\",       circuit:\"Kitchen/Kit Sink RGBW 5PL\",    value:\"0\"},\n            {scene_name:\"TV Low\",       circuit:\"Kitchen/Kit Sink RGBW 5PL\",    r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"TV Low\",       circuit:\"Kitchen/Island Low Lights\",    value:\"0\"},\n            {scene_name:\"TV Low\",       circuit:\"Kitchen/Island Low Lights\",    r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"TV Low\",       circuit:\"Kitchen/Sink and Low Lights\",  value:\"0\"},\n            {scene_name:\"TV Low\",       circuit:\"Kitchen/Sink and Low Lights\",  r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"TV Low\",       circuit:\"Kitchen/Drinks Cabinet\",       value:\"0\"},\n            {scene_name:\"TV Low\",       circuit:\"Kitchen/Drinks Cabinet\",       r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            \n            {scene_name:\"TV Medium\",       circuit:\"Kitchen/Cabinet Lights\",       value:\"15\"},\n            {scene_name:\"TV Medium\",       circuit:\"Kitchen/Lounge Lights\",        value:\"20\"},\n            {scene_name:\"TV Medium\",       circuit:\"Kitchen/Wall Lights\",          value:\"20\"},\n            {scene_name:\"TV Medium\",       circuit:\"Kitchen/Pendant Light\",        value:\"0\"},\n            {scene_name:\"TV Medium\",       circuit:\"Kitchen/Island Lights\",        value:\"0\"},\n            {scene_name:\"TV Medium\",       circuit:\"Kitchen/Skylight Lights\",      value:\"20\"},\n            {scene_name:\"TV Medium\",       circuit:\"Kitchen/Skylight Lights\",      r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"TV Medium\",       circuit:\"Kitchen/Ceiling Lights\",       value:\"0\"},\n            {scene_name:\"TV Medium\",       circuit:\"Kitchen/Ceiling Lights\",       r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"TV Medium\",       circuit:\"Kitchen/Kit Sink RGBW 5PL\",    value:\"0\"},\n            {scene_name:\"TV Medium\",       circuit:\"Kitchen/Kit Sink RGBW 5PL\",    r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"TV Medium\",       circuit:\"Kitchen/Island Low Lights\",    value:\"15\"},\n            {scene_name:\"TV Medium\",       circuit:\"Kitchen/Island Low Lights\",    r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"TV Medium\",       circuit:\"Kitchen/Sink and Low Lights\",  value:\"15\"},\n            {scene_name:\"TV Medium\",       circuit:\"Kitchen/Sink and Low Lights\",  r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"TV Medium\",       circuit:\"Kitchen/Drinks Cabinet\",       value:\"10\"},\n            {scene_name:\"TV Medium\",       circuit:\"Kitchen/Drinks Cabinet\",       r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n\n            {scene_name:\"Relaxing\",       circuit:\"Kitchen/Cabinet Lights\",       value:\"10\"},\n            {scene_name:\"Relaxing\",       circuit:\"Kitchen/Lounge Lights\",        value:\"10\"},\n            {scene_name:\"Relaxing\",       circuit:\"Kitchen/Wall Lights\",          value:\"10\"},\n            {scene_name:\"Relaxing\",       circuit:\"Kitchen/Pendant Light\",        value:\"10\"},\n            {scene_name:\"Relaxing\",       circuit:\"Kitchen/Island Lights\",        value:\"10\"},\n            {scene_name:\"Relaxing\",       circuit:\"Kitchen/Skylight Lights\",      value:\"15\"},\n            {scene_name:\"Relaxing\",       circuit:\"Kitchen/Skylight Lights\",      r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Relaxing\",       circuit:\"Kitchen/Ceiling Lights\",       value:\"15\"},\n            {scene_name:\"Relaxing\",       circuit:\"Kitchen/Ceiling Lights\",       r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Relaxing\",       circuit:\"Kitchen/Kit Sink RGBW 5PL\",    value:\"15\"},\n            {scene_name:\"Relaxing\",       circuit:\"Kitchen/Kit Sink RGBW 5PL\",    r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Relaxing\",       circuit:\"Kitchen/Island Low Lights\",    value:\"15\"},\n            {scene_name:\"Relaxing\",       circuit:\"Kitchen/Island Low Lights\",    r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Relaxing\",       circuit:\"Kitchen/Sink and Low Lights\",  value:\"15\"},\n            {scene_name:\"Relaxing\",       circuit:\"Kitchen/Sink and Low Lights\",  r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Relaxing\",       circuit:\"Kitchen/Drinks Cabinet\",       value:\"15\"},\n            {scene_name:\"Relaxing\",       circuit:\"Kitchen/Drinks Cabinet\",       r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n\n            {scene_name:\"Cooking\",       circuit:\"Kitchen/Cabinet Lights\",       value:\"10\"},\n            {scene_name:\"Cooking\",       circuit:\"Kitchen/Lounge Lights\",        value:\"10\"},\n            {scene_name:\"Cooking\",       circuit:\"Kitchen/Wall Lights\",          value:\"20\"},\n            {scene_name:\"Cooking\",       circuit:\"Kitchen/Pendant Light\",        value:\"40\"},\n            {scene_name:\"Cooking\",       circuit:\"Kitchen/Island Lights\",        value:\"85\"},\n            {scene_name:\"Cooking\",       circuit:\"Kitchen/Skylight Lights\",      value:\"20\"},\n            {scene_name:\"Cooking\",       circuit:\"Kitchen/Skylight Lights\",      r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Cooking\",       circuit:\"Kitchen/Ceiling Lights\",       value:\"0\"},\n            {scene_name:\"Cooking\",       circuit:\"Kitchen/Ceiling Lights\",       r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Cooking\",       circuit:\"Kitchen/Kit Sink RGBW 5PL\",    value:\"99\"},\n            {scene_name:\"Cooking\",       circuit:\"Kitchen/Kit Sink RGBW 5PL\",    r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Cooking\",       circuit:\"Kitchen/Island Low Lights\",    value:\"60\"},\n            {scene_name:\"Cooking\",       circuit:\"Kitchen/Island Low Lights\",    r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Cooking\",       circuit:\"Kitchen/Sink and Low Lights\",  value:\"60\"},\n            {scene_name:\"Cooking\",       circuit:\"Kitchen/Sink and Low Lights\",  r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Cooking\",       circuit:\"Kitchen/Drinks Cabinet\",       value:\"60\"},\n            {scene_name:\"Cooking\",       circuit:\"Kitchen/Drinks Cabinet\",       r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n\n            {scene_name:\"Dinner\",       circuit:\"Kitchen/Cabinet Lights\",       value:\"0\"},\n            {scene_name:\"Dinner\",       circuit:\"Kitchen/Lounge Lights\",        value:\"10\"},\n            {scene_name:\"Dinner\",       circuit:\"Kitchen/Wall Lights\",          value:\"20\"},\n            {scene_name:\"Dinner\",       circuit:\"Kitchen/Pendant Light\",        value:\"100\"},\n            {scene_name:\"Dinner\",       circuit:\"Kitchen/Island Lights\",        value:\"10\"},\n            {scene_name:\"Dinner\",       circuit:\"Kitchen/Skylight Lights\",      value:\"40\"},\n            {scene_name:\"Dinner\",       circuit:\"Kitchen/Skylight Lights\",      r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Dinner\",       circuit:\"Kitchen/Ceiling Lights\",       value:\"0\"},\n            {scene_name:\"Dinner\",       circuit:\"Kitchen/Ceiling Lights\",       r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Dinner\",       circuit:\"Kitchen/Kit Sink RGBW 5PL\",    value:\"0\"},\n            {scene_name:\"Dinner\",       circuit:\"Kitchen/Kit Sink RGBW 5PL\",    r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Dinner\",       circuit:\"Kitchen/Island Low Lights\",    value:\"0\"},\n            {scene_name:\"Dinner\",       circuit:\"Kitchen/Island Low Lights\",    r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Dinner\",       circuit:\"Kitchen/Sink and Low Lights\",  value:\"0\"},\n            {scene_name:\"Dinner\",       circuit:\"Kitchen/Sink and Low Lights\",  r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Dinner\",       circuit:\"Kitchen/Drinks Cabinet\",       value:\"0\"},\n            {scene_name:\"Dinner\",       circuit:\"Kitchen/Drinks Cabinet\",       r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n\n            {scene_name:\"Dining\",       circuit:\"Kitchen/Cabinet Lights\",       value:\"10\"},\n            {scene_name:\"Dining\",       circuit:\"Kitchen/Lounge Lights\",        value:\"10\"},\n            {scene_name:\"Dining\",       circuit:\"Kitchen/Wall Lights\",          value:\"20\"},\n            {scene_name:\"Dining\",       circuit:\"Kitchen/Pendant Light\",        value:\"70\"},\n            {scene_name:\"Dining\",       circuit:\"Kitchen/Island Lights\",        value:\"0\"},\n            {scene_name:\"Dining\",       circuit:\"Kitchen/Skylight Lights\",      value:\"30\"},\n            {scene_name:\"Dining\",       circuit:\"Kitchen/Skylight Lights\",      r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Dining\",       circuit:\"Kitchen/Ceiling Lights\",       value:\"0\"},\n            {scene_name:\"Dining\",       circuit:\"Kitchen/Ceiling Lights\",       r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Dining\",       circuit:\"Kitchen/Kit Sink RGBW 5PL\",    value:\"10\"},\n            {scene_name:\"Dining\",       circuit:\"Kitchen/Kit Sink RGBW 5PL\",    r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Dining\",       circuit:\"Kitchen/Island Low Lights\",    value:\"10\"},\n            {scene_name:\"Dining\",       circuit:\"Kitchen/Island Low Lights\",    r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Dining\",       circuit:\"Kitchen/Sink and Low Lights\",  value:\"10\"},\n            {scene_name:\"Dining\",       circuit:\"Kitchen/Sink and Low Lights\",  r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Dining\",       circuit:\"Kitchen/Drinks Cabinet\",       value:\"45\"},\n            {scene_name:\"Dining\",       circuit:\"Kitchen/Drinks Cabinet\",       r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n\n            {scene_name:\"Party\",       circuit:\"Kitchen/Cabinet Lights\",       value:\"10\"},\n            {scene_name:\"Party\",       circuit:\"Kitchen/Lounge Lights\",        value:\"10\"},\n            {scene_name:\"Party\",       circuit:\"Kitchen/Wall Lights\",          value:\"10\"},\n            {scene_name:\"Party\",       circuit:\"Kitchen/Pendant Light\",        value:\"10\"},\n            {scene_name:\"Party\",       circuit:\"Kitchen/Island Lights\",        value:\"10\"},\n            {scene_name:\"Party\",       circuit:\"Kitchen/Skylight Lights\",      value:\"15\"},\n            {scene_name:\"Party\",       circuit:\"Kitchen/Skylight Lights\",      r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Party\",       circuit:\"Kitchen/Ceiling Lights\",       value:\"15\"},\n            {scene_name:\"Party\",       circuit:\"Kitchen/Ceiling Lights\",       r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Party\",       circuit:\"Kitchen/Kit Sink RGBW 5PL\",    value:\"15\"},\n            {scene_name:\"Party\",       circuit:\"Kitchen/Kit Sink RGBW 5PL\",    r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Party\",       circuit:\"Kitchen/Island Low Lights\",    value:\"15\"},\n            {scene_name:\"Party\",       circuit:\"Kitchen/Island Low Lights\",    r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Party\",       circuit:\"Kitchen/Sink and Low Lights\",  value:\"15\"},\n            {scene_name:\"Party\",       circuit:\"Kitchen/Sink and Low Lights\",  r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Party\",       circuit:\"Kitchen/Drinks Cabinet\",       value:\"15\"},\n            {scene_name:\"Party\",       circuit:\"Kitchen/Drinks Cabinet\",       r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n\n            ])\n\n\n\nflow.set  (\"FP_lighting_groups\",\n            [\n            {zone_name:\"Group Kit All\",       circuit:\"Kitchen/Cabinet Lights\"},\n            {zone_name:\"Group Kit All\",       circuit:\"Kitchen/Lounge Lights\"},\n            {zone_name:\"Group Kit All\",       circuit:\"Kitchen/Wall Lights\"},\n            {zone_name:\"Group Kit All\",       circuit:\"Kitchen/Pendant Light\"},\n            {zone_name:\"Group Kit All\",       circuit:\"Kitchen/Island Lights\"},\n            {zone_name:\"Group Kit All\",       circuit:\"Kitchen/Skylight Lights\"},\n            {zone_name:\"Group Kit All\",       circuit:\"Kitchen/Ceiling Lights\"},\n            {zone_name:\"Group Kit All\",       circuit:\"Kitchen/Kit Sink RGBW 5PL\"},\n            {zone_name:\"Group Kit All\",       circuit:\"Kitchen/Island Low Lights\"},\n            {zone_name:\"Group Kit All\",       circuit:\"Kitchen/Sink and Low Lights\"}, //Cabinet\n            {zone_name:\"Group Kit All\",       circuit:\"Kitchen/Drinks Cabinet\"},\n            \n            {zone_name:\"Group Kit Spot All\",      circuit:\"Kitchen/Cabinet Lights\"},\n            {zone_name:\"Group Kit Spot All\",      circuit:\"Kitchen/Lounge Lights\"},\n            {zone_name:\"Group Kit Spot All\",      circuit:\"Kitchen/Wall Lights\"},\n            {zone_name:\"Group Kit Spot All\",      circuit:\"Kitchen/Pendant Light\"},\n            \n            {zone_name:\"Group Kit All RGBW\",       circuit:\"Kitchen/Skylight Lights\"},\n            {zone_name:\"Group Kit All RGBW\",       circuit:\"Kitchen/Ceiling Lights\"},\n            {zone_name:\"Group Kit All RGBW\",       circuit:\"Kitchen/Kit Sink RGBW 5PL\"},\n            {zone_name:\"Group Kit All RGBW\",       circuit:\"Kitchen/Island Low Lights\"},\n            {zone_name:\"Group Kit All RGBW\",       circuit:\"Kitchen/Sink and Low Lights\"}, //Cabinet\n            \n            {zone_name:\"Group Garden All\",        circuit:\"Garden/Bench Wall Lights\"},\n            {zone_name:\"Group Garden All\",        circuit:\"Garden/BBQ Wall Lights\"},\n            {zone_name:\"Group Garden All\",        circuit:\"Garden/Garden Bench Lights\"},\n            \n            {zone_name:\"Group Garden Room All\",   circuit:\"Garden Room/Spot Lights\"},\n            {zone_name:\"Group Garden Room All\",   circuit:\"Garden Room/Perimeter Lights\"},\n\n            {zone_name:\"Group Ground High RGBW\",  circuit:\"Kitchen/Skylight Lights\"},\n            {zone_name:\"Group Ground High RGBW\",  circuit:\"Kitchen/Ceiling Lights\"},\n            {zone_name:\"Group Ground High RGBW\",  circuit:\"Garden Room/Perimeter Lights\"},\n\n            {zone_name:\"Group Ground Low RGBW\",   circuit:\"Kitchen/Kit Sink RGBW 5PL\"},\n            {zone_name:\"Group Ground Low RGBW\",   circuit:\"Kitchen/Island Low Lights\"},\n            {zone_name:\"Group Ground Low RGBW\",   circuit:\"Kitchen/Sink and Low Lights\"}, //Cabinet\n            {zone_name:\"Group Ground Low RGBW\",   circuit:\"Garden/Garden Bench Lights\"},\n            ])\n\n\n\n// Table of AL zones to be passed through to UIBUILDER\nflow.set  (\"FP_al_zone_status\",\n            [\n            {zone_name:\"Zone_G_GarBath\"},\n            {zone_name:\"Zone_G_GarRoom\"},\n            {zone_name:\"Zone_G_Kitchen\"},\n            {zone_name:\"Zone_G_KitWC\"},\n            {zone_name:\"Zone_G_KitCorr\"},\n            ])\n\n\n\n//Reverse table to lookup full HC2 iight name from LP localname\nflow.set (\"FP_hc2_device_name_lookup\",\n    [\n    {localname:\"Office\",            hc2name:\"Loft AV/AV Main 1P\"},\n    {localname:\"Kit Corr\",         hc2name:\"Corridors/Kit Corr 2x 2P\"},\n    {localname:\"Gardenroom\",         hc2name:\"Garden Room/Spot Lights\"},\n    {localname:\"Kitchen WC\",         hc2name:\"Kitchen WC/Kit WC Lights 1P\"},\n    {localname:\"Garden Bath\",         hc2name:\"Garden Bath/Bath Spot Lights\"},   \n    ])\n\n    \n//list all multi-colour lights - used to stop colour update commands being sent to Fibaro for single colour lights\nflow.set (\"FP_rgbw_lights_table\",\n    {\n    \"Kitchen/Skylight Lights\"       :true, \n    \"Kitchen/Sink and Low Lights\"   :true, \n    \"Kitchen/Ceiling Lights\"        :true, \n    \"Kitchen WC/Kit WC RGBW Perm 2P\" :true, \n    \"Garden/Garden Bench Lights\"     :true, \n    \"Garden Bath/Bath Perimeter Light\" :true, \n    \"Garden Room/Perimeter Lights\"     :true, \n    \"Kitchen/Island Low Lights\"      :true, \n    \"Corridors/Kit RGBW Corr Low\"    :true, \n    \"Kitchen/Kit Sink RGBW 5PL\"      :true, \n    \"Corridors/Kit RGB Stairs\"       :true, \n    })\n    \nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":60,"wires":[[]]},{"id":"4855e202.e0417c","type":"inject","z":"e28c9ca5.73e4e","name":"Create Node-Red Globals - Run Once (5s)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":".1","topic":"","payload":"","payloadType":"date","x":1090,"y":60,"wires":[["f1c8eaef.9484e8"]]},{"id":"d76c96a.c9c3e68","type":"debug","z":"e28c9ca5.73e4e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2190,"y":540,"wires":[]},{"id":"7db23871.a4b0d8","type":"function","z":"e28c9ca5.73e4e","name":"Lighting Groups","func":"if (msg.page == \"floorplan\"){\n\n    var lighting_groups = flow.get(\"FP_lighting_groups\");\n    var lighting_scenes = flow.get(\"FP_lighting_scenes\");\n    \n    var topic           = msg.topic;\n    var topic_prefix    = topic.substring(0, 5);\n    topic               = topic.substring(topic.search(\" \")+1)\n\n    //group lighting update\n    if (topic_prefix == \"Group\")\n        {\n        // node.warn(\"up to here1\");\n        lighting_groups.forEach(item =>\n        {\n            if (item.zone_name == msg.topic)\n                {\n                // node.warn([\"up to here2\",item.circuit]);\n                var event       = {};\n                event.topic     = item.circuit;\n                event.payload   = msg.payload;\n                if (msg.colour !== null) {event.colour = msg.colour, event.type = msg.type}\n                node.send(event);\n                return;\n                }\n        })\n        \n        }\n    \n    else if (msg.payload == \"Scene\") \n        {\n        lighting_scenes.forEach(item =>\n        {\n            if (item.scene_name == msg.topic)\n                {\n                var event       = {};\n                event.topic     = item.circuit;\n                if (item.type == \"rgbw\") \n                {\n                event.type      = \"lighting_scene\"\n                event.r         = item.r;\n                event.g         = item.g;\n                event.b         = item.b;\n                event.w         = item.w;\n                }\n                else\n                {\n                event.topic     = item.circuit;\n                event.payload   = Number(item.value);\n                }\n                node.send(event);\n                return;\n                }\n        })\n        }\n    \n    else\n        {\n        // if al zone status update do nothing as handled in separate flow\n        if (msg.zone_status === true)\n            {\n            //do nothing\n            return;     \n            }\n        //else single lighting update\n        else{\n            return msg;\n            }\n        }\n    }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1960,"y":580,"wires":[["8fba3a58.e6ad58","d76c96a.c9c3e68"]]},{"id":"92e5fbc4.af7f48","type":"function","z":"e28c9ca5.73e4e","name":"onChange (AL Zone Status)","func":"msg.topic                   = {};\nmsg.payload                 = {};\n\nvar zone_status_global      = global.get(\"LP_al_zone_status\");\nvar uibuilder_zones         = flow.get(\"FP_al_zone_status\");\n\n// EXACT same code as in Data Caching\n// Triggered each time there is a change in the AL_Zone_Status global variable from HC2\n// Trigger is detected in the Lighting Panel flow\nuibuilder_zones.forEach(item =>{\n    \n            Object.entries(zone_status_global).forEach(([key, value]) => \n            {\n            if (key == item.zone_name) \n                {\n                // Only send to a single client if we can\n                    node.send({\n                        \"topic\"         : key, \n                        \"al_zone_status\": value,\n                        \"payload\"       : \"blah\",\n                    })\n                }\n            })\n        return;\n    \n        })","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":120,"wires":[["ec5484ee.e795b8","517f20a9.bd194"]]},{"id":"9aa346ec.4f4258","type":"link in","z":"e28c9ca5.73e4e","name":"","links":["86e12c3c.810a7","b6968725.4a0068"],"x":195,"y":120,"wires":[["92e5fbc4.af7f48"]]},{"id":"80059b11.063ed8","type":"subflow:bd9c14e9.4387e8","z":"e28c9ca5.73e4e","name":"","env":[],"x":2220,"y":460,"wires":[]},{"id":"9ae41100.ea9f","type":"function","z":"e28c9ca5.73e4e","name":"AL Zone Status Updates","func":"if (msg.page == \"floorplan\" && msg.zone_status === true)\n    {\n    return msg;     \n    }\n//else lighting update\nelse{\n    return;\n    }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1990,"y":460,"wires":[["80059b11.063ed8","bfd4374a.ab8bd8"]]},{"id":"bfd4374a.ab8bd8","type":"debug","z":"e28c9ca5.73e4e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2190,"y":420,"wires":[]},{"id":"4d6cfcd1.6c2354","type":"fibaroActor","z":"e28c9ca5.73e4e","name":"Kitchen/Cabinet Lights","deviceID":"Kitchen/Cabinet Lights","server":"9c9da376.afac5","events":true,"outputs":2,"x":280,"y":180,"wires":[["ec5484ee.e795b8"],[]]},{"id":"ff9ae01a.450ab","type":"fibaroActor","z":"e28c9ca5.73e4e","name":"Kitchen/Wall Lights","deviceID":"Kitchen/Wall Lights","server":"9c9da376.afac5","events":true,"outputs":2,"x":290,"y":260,"wires":[["ec5484ee.e795b8"],[]]},{"id":"c271e0e1.4cd8f","type":"fibaroActor","z":"e28c9ca5.73e4e","name":"Kitchen/Pendant Light","deviceID":"Kitchen/Pendant Light","server":"9c9da376.afac5","events":true,"outputs":2,"x":280,"y":300,"wires":[["ec5484ee.e795b8","f5048350.f855c"],[]]},{"id":"37979a15.c170b6","type":"fibaroActor","z":"e28c9ca5.73e4e","name":"Kitchen/Island Lights","deviceID":"Kitchen/Island Lights","server":"9c9da376.afac5","events":true,"outputs":2,"x":280,"y":340,"wires":[["ec5484ee.e795b8"],[]]},{"id":"919f90c9.6181f","type":"fibaroActor","z":"e28c9ca5.73e4e","name":"Kitchen/Skylight Lights","deviceID":"Kitchen/Skylight Lights","server":"9c9da376.afac5","events":true,"outputs":2,"x":280,"y":440,"wires":[["ec5484ee.e795b8"],["ec5484ee.e795b8"]]},{"id":"a821001c.aa92c","type":"fibaroActor","z":"e28c9ca5.73e4e","name":"Kitchen/Sink and Low Lights","deviceID":"Kitchen/Sink and Low Lights","server":"9c9da376.afac5","events":true,"outputs":2,"x":260,"y":600,"wires":[["ec5484ee.e795b8"],["ec5484ee.e795b8"]]},{"id":"848dad7a.e1b5","type":"fibaroActor","z":"e28c9ca5.73e4e","name":"Kitchen/Drinks Cabinet","deviceID":"Kitchen/Drinks Cabinet","server":"9c9da376.afac5","events":true,"outputs":2,"x":280,"y":640,"wires":[["ec5484ee.e795b8"],["ec5484ee.e795b8"]]},{"id":"720b258.10f1cdc","type":"fibaroActor","z":"e28c9ca5.73e4e","name":"Kitchen/Ceiling Lights","deviceID":"Kitchen/Ceiling Lights","server":"9c9da376.afac5","events":true,"outputs":2,"x":280,"y":480,"wires":[["ec5484ee.e795b8"],["ec5484ee.e795b8"]]},{"id":"961d9e2b.cb64","type":"fibaroActor","z":"e28c9ca5.73e4e","name":"Kitchen/Courtyard Uplights","deviceID":"Kitchen/Courtyard Uplights","server":"9c9da376.afac5","events":true,"outputs":2,"x":260,"y":380,"wires":[["ec5484ee.e795b8"],[]]},{"id":"322aaf46.fd6c5","type":"fibaroActor","z":"e28c9ca5.73e4e","name":"Bench Wall Lights (Garden)","deviceID":"Garden/Bench Wall Lights","server":"9c9da376.afac5","events":true,"outputs":2,"x":260,"y":700,"wires":[["ec5484ee.e795b8"],[]]},{"id":"bc2e360.df3d5c8","type":"fibaroActor","z":"e28c9ca5.73e4e","name":"Garden/Garden Bench Lights","deviceID":"Garden/Garden Bench Lights","server":"9c9da376.afac5","events":true,"outputs":2,"x":260,"y":780,"wires":[["ec5484ee.e795b8"],["ec5484ee.e795b8"]]},{"id":"4a6d7ce7.bfea94","type":"fibaroActor","z":"e28c9ca5.73e4e","name":"Garden Room/Spot Lights","deviceID":"Garden Room/Spot Lights","server":"9c9da376.afac5","events":true,"outputs":2,"x":270,"y":840,"wires":[["ec5484ee.e795b8"],[]]},{"id":"937ee3a6.0f3ad","type":"fibaroActor","z":"e28c9ca5.73e4e","name":"Garden Room/Perimeter Lights","deviceID":"Garden Room/Perimeter Lights","server":"9c9da376.afac5","events":true,"outputs":2,"x":250,"y":880,"wires":[["ec5484ee.e795b8"],["ec5484ee.e795b8"]]},{"id":"8d53e4a8.f2da98","type":"fibaroActor","z":"e28c9ca5.73e4e","name":"Corridors/Kit Corr 2x 2P","deviceID":"Corridors/Kit Corr 2x 2P","server":"9c9da376.afac5","events":true,"outputs":2,"x":270,"y":1040,"wires":[["ec5484ee.e795b8"],[]]},{"id":"9916b10e.de5bb","type":"fibaroActor","z":"e28c9ca5.73e4e","name":"Corridors/Kit RGBW Corr Low","deviceID":"Corridors/Kit RGBW Corr Low","server":"9c9da376.afac5","events":true,"outputs":2,"x":250,"y":1080,"wires":[["ec5484ee.e795b8"],["ec5484ee.e795b8"]]},{"id":"aecd4f75.61545","type":"fibaroActor","z":"e28c9ca5.73e4e","name":"Corridors/Kit RGB Stairs","deviceID":"Corridors/Kit RGB Stairs","server":"9c9da376.afac5","events":true,"outputs":2,"x":270,"y":1120,"wires":[["ec5484ee.e795b8"],["ec5484ee.e795b8"]]},{"id":"4a064afc.715834","type":"fibaroActor","z":"e28c9ca5.73e4e","name":"Kitchen WC/Kit WC RGBW Perm 2P","deviceID":"Kitchen WC/Kit WC RGBW Perm 2P","server":"9c9da376.afac5","events":true,"outputs":2,"x":230,"y":1220,"wires":[["ec5484ee.e795b8"],["ec5484ee.e795b8"]]},{"id":"4d523f53.e53f1","type":"fibaroActor","z":"e28c9ca5.73e4e","name":"Kitchen WC/Kit WC Lights 1P","deviceID":"Kitchen WC/Kit WC Lights 1P","server":"9c9da376.afac5","events":true,"outputs":2,"x":260,"y":1180,"wires":[["ec5484ee.e795b8"],[]]},{"id":"3042526e.fc069e","type":"fibaroActor","z":"e28c9ca5.73e4e","name":"Garden Bath/Bath Spot Lights","deviceID":"Garden Bath/Bath Spot Lights","server":"9c9da376.afac5","events":true,"outputs":2,"x":250,"y":940,"wires":[["ec5484ee.e795b8"],[]]},{"id":"c9279b68.a66a08","type":"fibaroActor","z":"e28c9ca5.73e4e","name":"Garden Bath/Bath Perimeter Light","deviceID":"Garden Bath/Bath Perimeter Light","server":"9c9da376.afac5","events":true,"outputs":2,"x":240,"y":1000,"wires":[["ec5484ee.e795b8"],["ec5484ee.e795b8"]]},{"id":"1d58bf2.5ea7541","type":"fibaroActor","z":"e28c9ca5.73e4e","name":"Kit Sink RGBW 5PL (Kitchen)","deviceID":"Kitchen/Kit Sink RGBW 5PL","server":"9c9da376.afac5","events":true,"outputs":2,"x":260,"y":520,"wires":[["ec5484ee.e795b8"],["ec5484ee.e795b8"]]},{"id":"5ca78b29.4f5804","type":"fibaroActor","z":"e28c9ca5.73e4e","name":"Island Low Lights (Kitchen)","deviceID":"Kitchen/Island Low Lights","server":"9c9da376.afac5","events":true,"outputs":2,"x":260,"y":560,"wires":[["ec5484ee.e795b8"],["ec5484ee.e795b8"]]},{"id":"f5048350.f855c","type":"debug","z":"e28c9ca5.73e4e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":240,"wires":[]},{"id":"4da50b19.e402b4","type":"function","z":"e28c9ca5.73e4e","name":"AL Time Remaining before OFF","func":"//populate new msg type\nvar localname       = msg.zone_name;\nvar hc2name_lookup  = flow.get(\"FP_hc2_device_name_lookup\");\nhc2name_lookup  = hc2name_lookup.find(_=>_.localname == localname);\n\nvar1 = msg.total_time;\nvar2 = msg.time_remaining;\n\n//node.warn([msg.total_time])\n\nif (var2 !== 0) \n    {\n    msg                 = {}\n    msg.topic           = hc2name_lookup.hc2name;\n    msg.time_total      = var1;\n    msg.time_remaining  = var2;\n    \n    msg.page            = \"floorplan\";\n    return msg;\n    }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":660,"wires":[["7dbb2608.d09ab8","18ed1c44.8c0524"]]},{"id":"7dbb2608.d09ab8","type":"debug","z":"e28c9ca5.73e4e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1250,"y":660,"wires":[]},{"id":"7a7f6895.483bb8","type":"inject","z":"e28c9ca5.73e4e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":1260,"wires":[["ec5484ee.e795b8"]]},{"id":"89548f1d.98306","type":"link in","z":"e28c9ca5.73e4e","name":"","links":["9e84dca1.cb62e","7671e8cb.2c27c8"],"x":775,"y":660,"wires":[["4da50b19.e402b4"]]},{"id":"268bdfac.19f74","type":"comment","z":"e28c9ca5.73e4e","name":"Kit Corr","info":"","x":670,"y":660,"wires":[]},{"id":"156eb5e.128124a","type":"comment","z":"e28c9ca5.73e4e","name":"GdnRm","info":"","x":670,"y":700,"wires":[]},{"id":"c0de11ce.458f9","type":"link in","z":"e28c9ca5.73e4e","name":"","links":["a886457e.6aa5f8","d1f346d6.a77378"],"x":775,"y":700,"wires":[["4da50b19.e402b4"]]},{"id":"6edf5b5f.40a314","type":"comment","z":"e28c9ca5.73e4e","name":"Kit WC","info":"","x":670,"y":740,"wires":[]},{"id":"5b95e3eb.ce66dc","type":"link in","z":"e28c9ca5.73e4e","name":"","links":["39a36771.2b3f98","d93710fd.92a31"],"x":775,"y":740,"wires":[["4da50b19.e402b4"]]},{"id":"621d60af.4d67f","type":"comment","z":"e28c9ca5.73e4e","name":"GdnBth","info":"","x":670,"y":780,"wires":[]},{"id":"b20ae917.52e228","type":"link in","z":"e28c9ca5.73e4e","name":"","links":["61b9cde.42b5434","ee5731cd.38703"],"x":775,"y":780,"wires":[["4da50b19.e402b4"]]},{"id":"c79a6a67.df9268","type":"fibaroSensor","z":"e28c9ca5.73e4e","name":"Kit Din UF Temp1 (Kitchen)","deviceID":"Kitchen/Kit Din UF Temp1","server":"9c9da376.afac5","events":false,"outputs":1,"x":2630,"y":80,"wires":[["181f0034.f918a","adb8b756.9edc98"]]},{"id":"181f0034.f918a","type":"debug","z":"e28c9ca5.73e4e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2890,"y":120,"wires":[]},{"id":"90c641b.4d11fc","type":"comment","z":"e28c9ca5.73e4e","name":"Mod \"data caching\" to return on 1st line","info":"","x":810,"y":580,"wires":[]},{"id":"8c1676d8.eb2918","type":"function","z":"e28c9ca5.73e4e","name":"Inject Lighting Groups Variable","func":"msg = {};\n\n// send lighting groups variables - used for fa-beat (pulsing of lights on selection)\nmsg.lighting_groups = flow.get(\"FP_lighting_groups\");\n\nmsg.page            = \"floorplan\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":900,"wires":[["d26341bb.7d503","18ed1c44.8c0524"]]},{"id":"d26341bb.7d503","type":"debug","z":"e28c9ca5.73e4e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1250,"y":900,"wires":[]},{"id":"315a05dc.f2279a","type":"inject","z":"e28c9ca5.73e4e","name":"Inject once at start up (.1s)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":".1","topic":"","payload":"","payloadType":"date","x":680,"y":920,"wires":[["8c1676d8.eb2918"]]},{"id":"9f7c86d4.904ca8","type":"link in","z":"e28c9ca5.73e4e","name":"","links":["3e82e8ea.68a998","2ea7ed9.e033c12","69eb6996.953358","692a1dd1.278174","727f69fe.a5c5b8","a703e38c.52466"],"x":775,"y":860,"wires":[["8c1676d8.eb2918"]]},{"id":"5baa8779.288ff8","type":"comment","z":"e28c9ca5.73e4e","name":"stop this from sending constantly","info":"","x":1010,"y":700,"wires":[]},{"id":"7629973.a2d7368","type":"fibaroActor","z":"e28c9ca5.73e4e","name":"BBQ Wall Lights (Garden)","deviceID":"Garden/BBQ Wall Lights","server":"9c9da376.afac5","events":true,"outputs":2,"x":270,"y":740,"wires":[["ec5484ee.e795b8"],[]]},{"id":"18ed1c44.8c0524","type":"link out","z":"e28c9ca5.73e4e","name":"","links":["c7521c6.e3213e","24027f6b.e1fc9"],"x":1515,"y":820,"wires":[]},{"id":"3d7ffc1b.6630f4","type":"link in","z":"e28c9ca5.73e4e","name":"","links":["22c25e7f.5bc5d2"],"x":1675,"y":820,"wires":[["9ae41100.ea9f","f5072b94.f893d8","8ccc25e5.4e1898","7db23871.a4b0d8"]]},{"id":"b802bd74.4187","type":"link in","z":"e28c9ca5.73e4e","name":"","links":["bd233da.800a3c","ad4acd57.68938"],"x":1675,"y":260,"wires":[["3e82e8ea.68a998","cc73ccdc.f58a3"]]},{"id":"adb8b756.9edc98","type":"link out","z":"e28c9ca5.73e4e","name":"","links":["c7521c6.e3213e","24027f6b.e1fc9"],"x":2855,"y":80,"wires":[]},{"id":"820fc9e3.c1bd38","type":"comment","z":"e28c9ca5.73e4e","name":"OUTPUT from UIBuilder TOP","info":"","x":1780,"y":860,"wires":[]},{"id":"e829a744.aa34f8","type":"comment","z":"e28c9ca5.73e4e","name":"OUTPUT from UIBuilder BOTTOM","info":"","x":1920,"y":340,"wires":[]},{"id":"2d28b5c2.aa9faa","type":"comment","z":"e28c9ca5.73e4e","name":"INPUT to UIBuilder","info":"","x":1450,"y":780,"wires":[]},{"id":"c5abbadf.4cba48","type":"function","z":"e28c9ca5.73e4e","name":"Inject Sonos Data","func":"var FP_Sonos_Data   = flow.get(\"FP_Sonos_Data\");\nvar time            = new Date();\nvar hours           = time.getHours();\nvar mins            = time.getMinutes();\nvar seconds         = time.getSeconds();\nmsg.payload         = {};\n\n//************if sonos panel is disabled, do not refresh player status*************\nif (FP_Sonos_Data[0].sonos_visible === false) \n    {\n    msg = {};\n    return;\n    }\n\n\n//************automatically disable sonos panel every night************\nif (hours == \"00\" && mins == \"05\" && seconds >50) \n    {\n    FP_Sonos_Data   = flow.get(\"FP_Sonos_Data\")\n    // node.warn(\"up to here\")\n    FP_Sonos_Data[0].sonos_visible = false\n    FP_Sonos_Data[0].sonos_visible_label = \"daily disabled\"        \n    FP_Sonos_Data[0].shuffle = false\n    }\n\n\n\n//**********if all players are standalone and singelplayer group ==\"\" THEN do not send track data***********\nFP_Sonos_Data   = flow.get(\"FP_Sonos_Data\");\nvar counter      = 0\nFP_Sonos_Data.forEach(item => \n        {\n        if (item.device != \"Group\") {counter = item.role == \"standalone\"?        counter+1:counter}\n        if (item.device == \"Group\") {counter = item.singleplayergroup === \"\"?     counter:counter+1}\n        })\n\n\n//**********send sonos data***********\nvar sonos_queue     = flow.get(\"FP_Sonos_Queue\").slice(FP_Sonos_Data[0].queuePosition-1,FP_Sonos_Data[0].queuePosition+12);\nvar len             = sonos_queue.length\n//if (len !== 0 && counter !=5)      \n\n//sonos_queue\nif (len !== 0 && counter !=4)      \n    {\n    //  node.warn([\"send queue\",counter])\n    msg.sonos_queue = sonos_queue\n    }\nelse\n    {msg.sonos_queue = flow.get(\"FP_sonos_queue_shell\")\n    //  node.warn([\"send shell queue\",counter])\n    }\n\n//sonos_data\nmsg.sonos           = flow.get(\"FP_Sonos_Data\");\nmsg.page            = \"floorplan\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":1200,"wires":[["73a2e5b1.c006ec","ba938a5c.0dbbf8","84176832.f94838","bf5aebdb.c7a338"]]},{"id":"73a2e5b1.c006ec","type":"debug","z":"e28c9ca5.73e4e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":1200,"wires":[]},{"id":"12462f.8221c9d1","type":"inject","z":"e28c9ca5.73e4e","name":"Do not run - to setup structure only","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":700,"y":1400,"wires":[["76781eaa.0c1e6"]]},{"id":"f5072b94.f893d8","type":"function","z":"e28c9ca5.73e4e","name":"Sonos Changes","func":"//have hacked this to override .device = \"Group\" value to pass the device name when the entire group is a single player... could have been more elegant in hingsight\n\nif (msg.page == \"floorplan_sonos\"){\n\nvar payload = \"\"\nvar FP_Sonos_Data = flow.get(\"FP_Sonos_Data\");\n\nif (msg.type == \"volume\")\n    {\n    if (msg.device == \"Group\")\n        {\n        node.send\n                ({\n                \"topic\"         : \"group.set.volume\", \n                \"playerName\"    : msg.playername,\n                \"payload\"       : msg.payload,\n                })\n    }\n    else\n        {\n        node.send\n                ({\n                \"topic\"         : \"player.set.volume\", \n                \"playerName\"    : msg.playername,\n                \"payload\"       : msg.payload,\n                })\n        node.send\n                ({\n                \"topic\"         : \"group.create.volumesnap\", \n                \"playerName\"    : msg.playername,\n                \"payload\"       : msg.payload,\n                })\n        }\n    }\n\n//play-pause\nelse if (msg.type == \"playstatus\")\n    {\n    node.send\n        ({\n        \"topic\"         : msg.topic, \n        \"playerName\"    : msg.playername,\n        })\n    }\n\n\n//next-previous track\nelse if (msg.type == \"trackchange\")\n    {\n    node.send\n        ({\n        \"topic\"         : msg.topic, \n        \"playerName\"    : msg.playername,\n        })\n    }\n\n//mute\nelse if (msg.type == \"mute\")\n    {\n    if (msg.device == \"Group\")\n        {\n        node.send\n                ({\n                \"topic\"         : \"group.set.mutestate\", \n                \"playerName\"    : msg.playername,\n                \"payload\"       : msg.payload? \"on\":\"off\",\n                })\n    }\n\n    else\n        {\n        node.send\n                ({\n                \"topic\"         : \"player.set.mutestate\", \n                \"playerName\"    : msg.playername,\n                \"payload\"       : msg.payload? \"on\":\"off\",\n                })\n        }\n    }\n\n\n\n\n\n//group / ungroup\nelse if (msg.type == \"role\")\n    {\n\n    // node.warn([\"msg.payload = \",msg.payload])\n    // node.warn([\"msg.singleplayergroup = \",msg.singleplayergroup])\n    // node.warn([\"singleplayergroup FP value = \",FP_Sonos_Data[0].singleplayergroup])\n\n    //update value of singleplayergroup each time a role change takes place\n    if (msg.payload === false && msg.singleplayergroup == FP_Sonos_Data[0].singleplayergroup)\n        {\n        FP_Sonos_Data[0].singleplayergroup = \"\";                \n        }\n    else\n        {\n        FP_Sonos_Data[0].singleplayergroup = msg.singleplayergroup;                 \n        }\n\n    var counter = 0\n    var singleplayer_match = \"\"\n\n    //create the string of players to create the new household group\n    FP_Sonos_Data.forEach(item => \n        {\n        singleplayer_match     = (FP_Sonos_Data[0].singleplayergroup == item.device)? true : false\n        //if its the group object then ignore it OR if the player is being removed ignore it\n        if (item.device == \"Group\" || (msg.payload === false)) {}     //do nothing  // && singleplayer_match === true\n        else \n            {\n            //add 2nd device to group - when role == standalone for all devices\n            if (item.role != \"standalone\" || (FP_Sonos_Data[0].singleplayergroup == item.device)) \n                {\n                payload = counter === 0? item.device : (payload + \",\" + item.device)\n                counter = counter + 1\n                counter = singleplayer_match === true? counter-1 : counter+1\n                }\n            }\n        })\n    \n    payload = msg.payload === true? payload + \",\" + msg.playername : payload        //adding new player to group\n    //filter to run when single player\n    if (msg.second_player_joining === false)\n        {\n        //payload = msg.playername \n        payload = counter === 0? msg.playername : payload                           //singleplayer\n        // node.warn([\"dear me3\", payload, counter,singleplayer_match])\n        }\n\n    //if removing device, then just remove it\n    if (msg.payload === false) \n        {\n        node.send\n                ({\n                \"topic\"             : \"player.leave.group\", \n                \"payload\"           : msg.playername,\n                \"playerName\"        : msg.playername,\n                })        \n        }\n    else\n        {\n        node.send\n                ({\n                \"topic\"             : \"household.create.group\", \n                \"payload\"           : payload,\n                })\n        }\n    }\n    \n\n\n\n\n\n// if there is no single player group in the floorplan then update the flow variable = \"\"\n// else if (msg.type == \"singleplayergroup\")\n//     {\n//     node.warn([\"up to there now\",FP_Sonos_Data[0].singleplayergroup])\n//     FP_Sonos_Data = flow.get(\"FP_Sonos_Data\");\n//     FP_Sonos_Data[0].singleplayergroup = \"\"\n//     node.warn([\"up to there now\",FP_Sonos_Data[0].singleplayergroup])\n//     }\n\n//playlist\nelse if (msg.type == \"playlist\")\n    {\n    node.send\n        ({\n        \"topic\"         : msg.topic, \n        \"playerName\"    : msg.playername,\n        })\n    node.send\n        ({\n        \"playerName\"    : msg.playername,\n        \"payload\"       : msg.payload,\n        \"type\"          : \"playlist\",\n        })\n    }\n\n\n//shuffle\nelse if (msg.type == \"shuffle\")\n    {\n    payload = msg.payload === true? \"SHUFFLE\":\"NORMAL\"\n    node.send\n        ({\n        \"topic\"         : \"group.set.queuemode\", \n        \"payload\"       : payload,\n        \"playerName\"    : msg.playername,\n        })\n    }\n\n\n\n//update flow with sonos_panel status - can be explanded to other updates as required\nelse if (msg.type == \"FP_Sonos_Data\")\n    {\n    // node.warn(\"up to here\")\n    var property = msg.property;\n    FP_Sonos_Data[0].sonos_visible       = msg.value;\n    FP_Sonos_Data[0].sonos_visible_label = msg.label;\n    }\n\n\n\n    \n} //end of upper if - must include all conditions above this\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1960,"y":1080,"wires":[["cb39b6f5.75bb98","1e4897a8.b33368"]]},{"id":"139dc378.f38c0d","type":"comment","z":"e28c9ca5.73e4e","name":"Used for Caching","info":"","x":1860,"y":160,"wires":[]},{"id":"2a9179ea.f2ddc6","type":"sonos-universal","z":"e28c9ca5.73e4e","confignode":"193128a0.2db8a7","compatibilityMode":false,"command":"message","state":"","stateType":"str","name":"","x":2400,"y":1040,"wires":[["3c100ca2.933b14"]]},{"id":"3c100ca2.933b14","type":"debug","z":"e28c9ca5.73e4e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2610,"y":1040,"wires":[]},{"id":"b9fea7cd.7e0778","type":"debug","z":"e28c9ca5.73e4e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2390,"y":980,"wires":[]},{"id":"3df27e15.cd8402","type":"sonos-universal","z":"e28c9ca5.73e4e","confignode":"ecfbb4f2.891d98","compatibilityMode":false,"command":"message","state":"","stateType":"str","name":"","x":1340,"y":1300,"wires":[["e95e2b74.977fc8","6e13282b.bf0f38"]]},{"id":"2daa527a.9fa86e","type":"inject","z":"e28c9ca5.73e4e","name":"Run every 1 second","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":720,"y":1260,"wires":[["14409c9d.f34b33","c5abbadf.4cba48"]]},{"id":"76781eaa.0c1e6","type":"function","z":"e28c9ca5.73e4e","name":"Sonos Setup Data","func":"flow.set (\"FP_Sonos_Data\",\n            [\n            {device:\"Group\",                volume:-1,              mute:true,          \n             coordinator:\"standalone\",      coordinator_name:\"\",    singleplayergroup:\"\",   \n             playbackstate:\"playing\",       queuePosition:\"1\",      trackduration:0,        trackposition:0,    numberoftracks:0,\n             sonos_visible:true,            sonos_visible_label:\"enabled\",  shuffle:false},\n            \n            {device:\"Office AV1\",           volume:-1,       mute:false,         role:\"x\",                   role_boolean:false},\n            {device:\"Office AV2\",           volume:-1,       mute:false,         role:\"x\",                   role_boolean:false},\n            {device:\"Kit Cabinet\",          volume:-1,       mute:false,         role:\"x\",                   role_boolean:false},            \n            {device:\"Kit Garden\",           volume:-1,       mute:false,         role:\"x\",                   role_boolean:false},            \n            ])\n            \n            \n//coordinator           = standalone, grouped\n\n//coordinator_name      = name of player = coordinator when there is a group\n//                        where this is a single player  = \"\" in node-red, however = \"standalone player name\" where there is single player\n\n//singleplayergroup     = store the single player name when it is the only member of the group \n//                        separate property as the coordinator_name will be overwritten each time Sonos data is refreshed\n\n\nflow.set (\"FP_sonos_queue_shell\",\n        [\n        {title:\"\",      artist:\"\",      album:\"\",       },\n        {title:\"\",      artist:\"\",      album:\"\",       albumArtURI:\"\"},    \n        {title:\"\",      artist:\"\",      album:\"\",       albumArtURI:\"\"},    \n        {title:\"\",      artist:\"\",      album:\"\",       albumArtURI:\"\"},    \n        {title:\"\",      artist:\"\",      album:\"\",       albumArtURI:\"\"},    \n        {title:\"\",      artist:\"\",      album:\"\",       albumArtURI:\"\"},    \n        {title:\"\",      artist:\"\",      album:\"\",       albumArtURI:\"\"},    \n        {title:\"\",      artist:\"\",      album:\"\",       albumArtURI:\"\"},    \n        {title:\"\",      artist:\"\",      album:\"\",       albumArtURI:\"\"},    \n        {title:\"\",      artist:\"\",      album:\"\",       albumArtURI:\"\"},    \n        {title:\"\",      artist:\"\",      album:\"\",       albumArtURI:\"\"},    \n        {title:\"\",      artist:\"\",      album:\"\",       albumArtURI:\"\"},    \n        {title:\"\",      artist:\"\",      album:\"\",       albumArtURI:\"\"},    \n        {title:\"\",      artist:\"\",      album:\"\",       albumArtURI:\"\"},    \n        ])","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":1400,"wires":[[]]},{"id":"7092894b.946be8","type":"comment","z":"e28c9ca5.73e4e","name":"Sonos Setup Data","info":"","x":1050,"y":1440,"wires":[]},{"id":"5d28b465.a623ec","type":"comment","z":"e28c9ca5.73e4e","name":"Capture Sonos Player Data","info":"","x":1030,"y":1340,"wires":[]},{"id":"cb39b6f5.75bb98","type":"switch","z":"e28c9ca5.73e4e","name":"Playlist Routing","property":"type","propertyType":"msg","rules":[{"t":"neq","v":"playlist","vt":"str"},{"t":"eq","v":"playlist","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2180,"y":1080,"wires":[["2a9179ea.f2ddc6","b9fea7cd.7e0778"],["d95d4437.231d48","fa674d24.2c971"]]},{"id":"48e1fe91.7532b","type":"comment","z":"e28c9ca5.73e4e","name":"Queue Modes","info":"'NORMAL' 'REPEAT_ONE' 'REPEAT_ALL' 'SHUFFLE' 'SHUFFLE_NOREPEAT' 'SHUFFLE_REPEAT_ONE'","x":1230,"y":1400,"wires":[]},{"id":"e95e2b74.977fc8","type":"debug","z":"e28c9ca5.73e4e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1590,"y":1280,"wires":[]},{"id":"6e13282b.bf0f38","type":"function","z":"e28c9ca5.73e4e","name":"Update Sonos Setup Data Flow Variable","func":"var topic                       = msg.topic\nvar FP_Sonos_Data               = flow.get(\"FP_Sonos_Data\");\nFP_Sonos_Data                   = FP_Sonos_Data.find(FP_Sonos => FP_Sonos.device == msg.playerName);\nvar FP_Sonos_Data1              = flow.get(\"FP_Sonos_Data\");\nvar payload                     = msg.payload;\n\n\n//update singleplayer\n//need to do this separately based on how the conditions are written below\n//this code is a duplicate and a bit of a hack\nif (FP_Sonos_Data1[0].singleplayergroup !== \"\" && FP_Sonos_Data1[0].singleplayergroup == msg.playerName)\n    {\n    if      (msg.topic == \"group.get.mutestate\")\n                {if (msg.payload == \"off\") {FP_Sonos_Data.mute = false} else (FP_Sonos_Data.mute = true)}                         //update value - mutestate\n    \n    else if (msg.topic == \"player.get.role\")\n                {FP_Sonos_Data.role            = msg.payload;\n                if(msg.payload == \"standalone\") {FP_Sonos_Data.role_boolean = false} else {FP_Sonos_Data.role_boolean = true}}   //update value - role\n    \n    else if (msg.topic == \"player.get.volume\")\n                {FP_Sonos_Data.volume          = msg.payload}                                                                    //update value - volume\n    \n    else if (msg.topic == \"player.get.queue\")\n            {\n            flow.set(\"FP_Sonos_Queue\", msg.payload)\n            FP_Queue1       = flow.get(\"FP_Sonos_Queue\") \n            FP_Sonos_Data1  = flow.get(\"FP_Sonos_Data\") \n            FP_Sonos_Data1[0].numberoftracks = FP_Queue1.length\n            // node.warn([FP_Queue1.length])\n            }                                                                   //update value - queue\n\n    }\n\n\n\n//update group\nif (topic.substring(0, 5) == \"group\" || (FP_Sonos_Data1[0].singleplayergroup !== \"\" && FP_Sonos_Data1[0].singleplayergroup == msg.playerName))\n    {\n    //node.warn(\"up to here1\")\n    if (msg.topic == \"group.get.mutestate\") \n        {\n        var muted = msg.payload\n        if (muted == \"on\") {muted = true} else {muted = false}\n        FP_Sonos_Data1[0].mute   = muted                                                                                    //update value\n        }\n    if (msg.topic == \"group.get.volume\")            {FP_Sonos_Data1[0].volume         = msg.payload}                        //update value\n    if (msg.topic == \"group.get.playbackstate\")     {FP_Sonos_Data1[0].playbackstate  = msg.payload}                        //update value\n    if (msg.topic == \"group.get.trackplus\")         \n            {\n            FP_Sonos_Data1[0].queuePosition  = payload.trackData.queuePosition\n            FP_Sonos_Data1[0].trackduration  = payload.trackData.duration\n            FP_Sonos_Data1[0].trackposition  = payload.trackData.position\n            }    \n    if (msg.topic == \"group.get.queue\")             \n            {\n            flow.set(\"FP_Sonos_Queue\", msg.payload)\n            FP_Queue1       = flow.get(\"FP_Sonos_Queue\") \n            FP_Sonos_Data1  = flow.get(\"FP_Sonos_Data\") \n            FP_Sonos_Data1[0].numberoftracks = FP_Queue1.length\n            // node.warn([FP_Queue1.length])\n            }                       \n    if (msg.topic == \"group.get.state\")                                                                                     //update value\n            {\n            var shuffle_payload = msg.payload\n            if (shuffle_payload.queueMode == \"SHUFFLE\" || shuffle_payload.queueMode == \"SHUFFLE_NOREPEAT\") {shuffle_payload = true} else {shuffle_payload = false}\n            FP_Sonos_Data1[0].shuffle        = shuffle_payload\n            }                       \n    }\n    \n    \n//update individual players\nelse\n    {\n    if      (msg.topic == \"player.get.mutestate\")\n                {if (msg.payload == \"off\") {FP_Sonos_Data.mute = false} else (FP_Sonos_Data.mute = true)}                         //update value - mutestate\n    \n    else if (msg.topic == \"player.get.role\")\n                {FP_Sonos_Data.role            = msg.payload;\n                if(msg.payload == \"standalone\") {FP_Sonos_Data.role_boolean = false} else {FP_Sonos_Data.role_boolean = true}}   //update value - role\n    \n    else if (msg.topic == \"player.get.volume\")                                                                                   //update value - volume\n                {\n                if (msg.playerName === \"\") {}\n                else {\n                    //node.warn([\"player error = \",msg.playerName,msg.payload,FP_Sonos_Data.volume])\n                    FP_Sonos_Data.volume          = msg.payload\n                    }\n                }                                                                    \n    }          \n\n\n//UPDATE: COORDINATOR AND COORDINATOR_NAME PROPERTIES\n//update the coordinator in the group (player) if one exists, else standalone\nFP_Sonos_Data               = flow.get(\"FP_Sonos_Data\");         \nvar coordinator             = FP_Sonos_Data.find(_=>_.role == \"coordinator\");\nvar group                   = FP_Sonos_Data.find(_=>_.device == \"Group\");\n\nif (coordinator !== undefined)                                                                                                  //if player is = coordinator\n        {\n        //node.warn(\"up to here 1\");\n        group.coordinator_name           = coordinator.device                                                                   //update value\n        group.coordinator                = \"grouped\"\n        }\nelse\n        {\n        //node.warn(\"up to here 1\");\n        group.coordinator_name           = \"\"                                                                                   //update value\n        group.coordinator                = \"standalone\"                                                                          //update value \n        }\n\n//reset value when group is not defined or >1 players\nif (group.coordinator != \"standalone\") \n        {group.singleplayergroup     = \"\"}   \n                                                                                                \n        \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1700,"y":1320,"wires":[[]]},{"id":"14409c9d.f34b33","type":"function","z":"e28c9ca5.73e4e","name":"Send to Sonos","func":"var FP_Sonos_Data   = flow.get(\"FP_Sonos_Data\");\n\n// //if sonos panel is disabled, do not refresh player status\nif (FP_Sonos_Data[0].sonos_visible === false) {return}\n\n\nFP_Sonos_Data.forEach(item => \n{\n//get group status\nif (item.device == \"Group\") \n    {\n    if (item.coordinator != \"standalone\")\n        {\n        node.send\n                ({\n                \"topic\"         : \"group.get.volume\", \n                \"playerName\"    : item.coordinator_name,\n                })\n        node.send\n                ({\n                \"topic\"         : \"group.get.mutestate\", \n                \"playerName\"    : item.coordinator_name,\n        })\n        node.send\n                ({\n                \"topic\"         : \"group.get.playbackstate\",        //play/pause (minimal)\n                \"playerName\"    : item.coordinator_name,\n                })\n        node.send\n                ({\n                \"topic\"         : \"group.get.queue\",                //entire playlist (minor impact)\n                \"playerName\"    : item.coordinator_name,\n                })\n        node.send\n                ({\n                \"topic\"         : \"group.get.trackplus\",            //queueposition (minimal)\n                \"playerName\"    : item.coordinator_name,\n                })\n        node.send\n                ({\n                \"topic\"         : \"group.get.state\",                //includes shuffle etc (minimal)\n                \"playerName\"    : item.coordinator_name,\n                })\n        }\n    }\n//get player status\nelse \n    {\n        node.send\n                ({\n                \"topic\"         : \"player.get.volume\",               // largest drop\n                \"playerName\"    : item.device,\n                })\n        node.send\n                ({\n                \"topic\"         : \"player.get.mutestate\",            // minimal\n                \"playerName\"    : item.device,\n        })\n        node.send\n                ({\n                \"topic\"         : \"player.get.role\",                 //minimal\n                \"playerName\"    : item.device,\n        })\n    }\n\n});\n\n//runs once\n//get player details where player is single player in the group\nvar singleplayer_device_name = FP_Sonos_Data[0].singleplayergroup\nif (singleplayer_device_name !== \"\")\n    {\n         node.send\n                ({\n                \"topic\"         : \"player.get.volume\", \n                \"playerName\"    : singleplayer_device_name,\n                })\n        node.send\n                ({\n                \"topic\"         : \"group.get.mutestate\", \n                \"playerName\"    : singleplayer_device_name,\n        })\n       node.send\n                ({\n                \"topic\"         : \"group.get.playbackstate\",        //play/pause (minimal)\n                \"playerName\"    : singleplayer_device_name,\n                })\n        node.send\n                ({\n                \"topic\"         : \"player.get.queue\",                //entire playlist (minor impact)\n                \"playerName\"    : singleplayer_device_name,\n                })\n        node.send\n                ({\n                \"topic\"         : \"group.get.trackplus\",            //queueposition (minimal)\n                \"playerName\"    : singleplayer_device_name,\n                })\n        node.send\n                ({\n                \"topic\"         : \"group.get.state\",                //includes shuffle etc (minimal)\n                \"playerName\"    : singleplayer_device_name,\n                })\n        node.send\n                ({\n                \"topic\"         : \"player.get.role\",                 //get role\n                \"playerName\"    : singleplayer_device_name,\n        })\n    }\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":1300,"wires":[["3df27e15.cd8402"]]},{"id":"1e4897a8.b33368","type":"debug","z":"e28c9ca5.73e4e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2150,"y":1140,"wires":[]},{"id":"8ccc25e5.4e1898","type":"debug","z":"e28c9ca5.73e4e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1830,"y":820,"wires":[]},{"id":"6fe48925.eb2468","type":"sonos-universal","z":"e28c9ca5.73e4e","confignode":"c6cec62d.22d368","compatibilityMode":false,"command":"group.play.export","state":"","stateType":"str","name":"","x":2890,"y":1100,"wires":[[]]},{"id":"e5d57546.f5a518","type":"sonos-manage-mysonos","z":"e28c9ca5.73e4e","confignode":"c6cec62d.22d368","compatibilityMode":false,"command":"mysonos.export.item","state":"","stateType":"str","name":"","x":2660,"y":1100,"wires":[["6fe48925.eb2468"]]},{"id":"d95d4437.231d48","type":"function","z":"e28c9ca5.73e4e","name":"Send Payload","func":"node.send\n    ({\n    \"payload\"      : msg.payload,\n    \"playerName\"   : msg.playerName,\n    })","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2420,"y":1100,"wires":[["e5d57546.f5a518","a1f5e056.43f53"]]},{"id":"ac3baf97.a288d","type":"comment","z":"e28c9ca5.73e4e","name":"Nightly Reset","info":"","x":1050,"y":1520,"wires":[]},{"id":"cc73ccdc.f58a3","type":"debug","z":"e28c9ca5.73e4e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1830,"y":300,"wires":[]},{"id":"ba938a5c.0dbbf8","type":"rbe","z":"e28c9ca5.73e4e","name":"sonos_queue","func":"rbe","gap":"","start":"","inout":"out","property":"sonos_queue","x":1320,"y":1120,"wires":[["c1aea17b.b8aab","18ed1c44.8c0524"]]},{"id":"c1aea17b.b8aab","type":"debug","z":"e28c9ca5.73e4e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1590,"y":1120,"wires":[]},{"id":"84176832.f94838","type":"rbe","z":"e28c9ca5.73e4e","name":"sonos player data","func":"rbe","gap":"","start":"","inout":"out","property":"sonos","x":1310,"y":1160,"wires":[["ac0b6cab.64d9e","18ed1c44.8c0524"]]},{"id":"ac0b6cab.64d9e","type":"debug","z":"e28c9ca5.73e4e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1590,"y":1160,"wires":[]},{"id":"3f424063.f4322","type":"link in","z":"e28c9ca5.73e4e","name":"","links":["3e82e8ea.68a998","2ea7ed9.e033c12","69eb6996.953358","692a1dd1.278174","727f69fe.a5c5b8","a703e38c.52466"],"x":895,"y":1140,"wires":[["c5abbadf.4cba48"]]},{"id":"bf5aebdb.c7a338","type":"function","z":"e28c9ca5.73e4e","name":"Data Caching","func":"if ( msg.hasOwnProperty('cacheControl') && msg.cacheControl === 'REPLAY') \n        {\n        if ( msg.hasOwnProperty('_socketId') )\n                                {\n                                delete msg.uibuilderCtrl\n                                delete msg.cacheControl \n                                delete msg.from\n                                delete msg.payload\n                                delete msg._socketId\n                                delete msg._event\n                                msg._socketId = msg._socketId\n                                return msg\n                                }\n                            else\n                                {\n                                delete msg.uibuilderCtrl\n                                delete msg.cacheControl \n                                delete msg.from\n                                delete msg.payload\n                                delete msg._socketId\n                                delete msg._event\n                                return msg\n                                }\n        }\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":1080,"wires":[["18ed1c44.8c0524","3059dd85.24fec2"]]},{"id":"3059dd85.24fec2","type":"debug","z":"e28c9ca5.73e4e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1590,"y":1080,"wires":[]},{"id":"a1f5e056.43f53","type":"debug","z":"e28c9ca5.73e4e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2610,"y":1160,"wires":[]},{"id":"fa674d24.2c971","type":"debug","z":"e28c9ca5.73e4e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2390,"y":1160,"wires":[]},{"id":"1d63797a.3af747","type":"function","z":"e28c9ca5.73e4e","name":"Populate Template Colour Variables","func":"flow.set (\"homeMsgs_colour\",\n    {\n    \"Kitchen/Skylight Lights\"           : \"0,0,0,255\",\n    \"Kitchen/Sink and Low Lights\"       : \"0,0,0,255\",\n    \"Kitchen/Ceiling Lights\"            : \"0,0,0,255\",\n    \"Kitchen WC/Kit WC RGBW Perm 2P\"    : \"0,0,0,255\",\n    \"Garden/Garden Bench Lights\"        : \"0,0,0,255\",\n    \"Garden Bath/Bath Perimeter Light\"  : \"0,0,0,255\",\n    \"Garden Room/Perimeter Lights\"      : \"0,0,0,255\",\n    \"Kitchen/Island Low Lights\"         : \"0,0,0,255\",\n    \"Corridors/Kit RGBW Corr Low\"       : \"0,0,0,255\",\n    \"Kitchen/Kit Sink RGBW 5PL\"         : \"0,0,0,255\",\n    \"Corridors/Kit RGB Stairs\"          : \"0,0,0,255\",\n    })\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1440,"y":120,"wires":[[]]},{"id":"c2a291bb.e5b69","type":"inject","z":"e28c9ca5.73e4e","name":"Run once on setup only","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1160,"y":120,"wires":[["1d63797a.3af747"]]},{"id":"72cefe5f.17572","type":"comment","z":"e28c9ca5.73e4e","name":"event driven","info":"","x":410,"y":80,"wires":[]},{"id":"5d4767c2.470ec8","type":"comment","z":"e28c9ca5.73e4e","name":"every 1s","info":"","x":1080,"y":620,"wires":[]},{"id":"c23f5b95.874f78","type":"comment","z":"e28c9ca5.73e4e","name":"event driven","info":"","x":1070,"y":420,"wires":[]},{"id":"cfae7351.be198","type":"comment","z":"e28c9ca5.73e4e","name":"Once at startup","info":"","x":1060,"y":860,"wires":[]},{"id":"517f20a9.bd194","type":"debug","z":"e28c9ca5.73e4e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":120,"wires":[]},{"id":"9c9da376.afac5","type":"fibaro-server","name":"HC2_Master1","ipaddress":"192.168.1.101"},{"id":"193128a0.2db8a7","type":"sonos-config","name":"Office AV1","serialnum":"00-0E-58-71-3B-8E:B","ipaddress":"192.168.1.80"},{"id":"ecfbb4f2.891d98","type":"sonos-config","name":"Office AV2","serialnum":"00-0E-58-85-16-D8:0","ipaddress":"192.168.1.216"},{"id":"c6cec62d.22d368","type":"sonos-config","name":"Loft Bath","serialnum":"5C-AA-FD-E6-43-86:4","ipaddress":"192.168.1.208"}]